body{
    background-color: aquamarine !important;
}

h4{
    color: red;
}
#test{
    font-size: 75px;
}
.top{
    font-size: 34px;
}
h4.top{
    color: green;
    color: #235478;
}

h4 .top{

}
h4{
    color: blueviolet;
}